<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign Up</h3>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" autocomplete="off"/>
          </div>
          <div *ngIf="signUpForm.get('firstName')?.invalid && isSubmitted" class="text-danger">
            <small *ngIf="signUpForm.get('firstName')?.errors?.['required']">First Name is required.</small>
          </div>
          <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" autocomplete="off"/>
          </div>
          <div *ngIf="signUpForm.get('lastName')?.invalid && isSubmitted" class="text-danger">
            <small *ngIf="signUpForm.get('lastName')?.errors?.['required']">Last Name is required.</small>
          </div>
          <div class="input-group mt-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" autocomplete="off"/>
          </div>
          <div *ngIf="signUpForm.get('email')?.invalid && isSubmitted" class="text-danger">
            <small *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email address.</small>
          </div>
          <div class="input-group mt-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="off" />
          </div>
          <div *ngIf="signUpForm.get('password')?.invalid && isSubmitted" class="text-danger">
            <small *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</small>
          </div>
          <div class="input-group mt-2">
            <input type="password" class="form-control" placeholder="Confirm Password"
              formControlName="confirmPassword" autocomplete="off"/>
          </div>
          <div *ngIf="signUpForm.get('confirmPassword')?.invalid && isSubmitted" class="text-danger">
            <small *ngIf="signUpForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
            <small *ngIf="signUpForm.get('confirmPassword')?.errors?.['mismatch']">Passwords must match.</small>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Sign up</button>
        </form>
        <b *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</b>
        <b *ngIf="successMessage" class="text-success mt-2">{{successMessage }}</b>
        <p class="mb-0 text-muted mt-2">
          Already have an account?
          <a [routerLink]="['/auth/sign-in']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>